<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.LiTao.questionnaire.mapper.ProjectHongbaoMapper">
  <resultMap id="BaseResultMap" type="cn.LiTao.questionnaire.pojo.ProjectHongbao">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_id, amount, `type`, `number`, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project_hongbao
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project_hongbao
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.LiTao.questionnaire.pojo.ProjectHongbao" useGeneratedKeys="true">
    insert into project_hongbao (project_id, amount, `type`, 
      `number`, create_time)
    values (#{projectId,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, 
      #{number,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.LiTao.questionnaire.pojo.ProjectHongbao" useGeneratedKeys="true">
    insert into project_hongbao
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        project_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="number != null">
        `number`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.LiTao.questionnaire.pojo.ProjectHongbao">
    update project_hongbao
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="number != null">
        `number` = #{number,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.LiTao.questionnaire.pojo.ProjectHongbao">
    update project_hongbao
    set project_id = #{projectId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      `type` = #{type,jdbcType=TINYINT},
      `number` = #{number,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>